@if (SignInManager.IsSignedIn(User))
{    
    <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa-solid fa-user" style="color: #444444">&nbsp;</span>Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
        <li>
            <a class="dropdown-item" asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="UpdateDetails">Update Your Details</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="SetSecurityQuestions">Update Your Security Questions</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="EmailPreferences">Set Your E-mail Preferences</a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="ChangePassword">Change Your Password</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty, successMessage = "Logged out successfully." })">
                <button type="submit" class="dropdown-item">Log Out</button>
            </form>
        </li>
    </ul>
}
