@model MainMenuVm

@if (SignInManager.IsSignedIn(User))
{    
    var giftingGroups = Model?.HomeModel?.GiftingGroups;

    <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="giftingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa-solid fa-gift" style="color: #66dddd">&nbsp;</span>Groups
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="giftingDropdown">
        <li>
            <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="CreateGiftingGroup">
                Create a New Gifting Group
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinGiftingGroup">
                Apply to Join a Group
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Participate" asp-action="Index">
                Participate for @DateTime.Today.Year
            </a>
        </li>

        @if (giftingGroups?.Any() == true)
        {
            @if (Model?.HomeModel.NewJoinerApplications > 0)
            {
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinerApplications">
                        Review Joiner Applications
                    </a>
                </li>
            }

            @foreach (var giftingGroup in giftingGroups.Where(x => x.GroupAdmin).ToList())
            {
                <li><hr class="dropdown-divider"></li>

                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="EditGiftingGroup" asp-route-giftingGroupKey="@giftingGroup.GiftingGroupKey">
                        Edit Gifting Group '@giftingGroup.GroupName'
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="SetupGiftingGroupYear" asp-route-giftingGroupKey="@giftingGroup.GiftingGroupKey">
                        Set Up Group '@giftingGroup.GroupName' for @DateTime.Today.Year
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Participate" asp-action="Year" asp-route-giftingGroupKey="@giftingGroup.GiftingGroupKey">
                        View '@giftingGroup.GroupName' for @DateTime.Today.Year
                    </a>
                </li>
            }

            int position = 0;

            @foreach (var giftingGroup in giftingGroups.Where(x => !x.GroupAdmin).ToList())
            {
                position++;

                if (position == 1 && giftingGroups.Any(x => x.GroupAdmin))
                {
                    <li><hr class="dropdown-divider"></li>
                }

                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Participate" asp-action="Year" asp-route-giftingGroupKey="@giftingGroup.GiftingGroupKey">
                        View '@giftingGroup.GroupName' for @DateTime.Today.Year
                    </a>
                </li>
            }
        }
    </ul>
}
