@using ViewLayer.Models.Home

@inject SignInManager<IdentityUser> SignInManager

@model MainMenuVm

@if (SignInManager.IsSignedIn(User))
{    
    <a class="btn btn-outline-primary nav-link dropdown-toggle" href="#" id="giftingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa-solid fa-gift">&nbsp;</span>Gifts
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="giftingDropdown">
        <li>
            <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="CreateGiftingGroup">
                Create a New Gifting Group
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinGiftingGroup">
                Apply to Join a Group
            </a>
        </li>

        @if (Model?.HomeModel?.GiftingGroups?.Any() == true)
        {
            @if (Model.HomeModel.NewJoinerApplications > 0)
            {
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinerApplications">
                        Review Joiner Applications
                    </a>
                </li>
            }

            <li><hr class="dropdown-divider"></li>

            @foreach (var giftingGroup in Model.HomeModel.GiftingGroups.Where(x => x.GroupAdmin).ToList())
            {
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="EditGiftingGroup" asp-route-groupId="@giftingGroup.GiftingGroupId">
                        Edit Gifting Group '@giftingGroup.GroupName'
                    </a>
                </li>
            }

            <li><hr class="dropdown-divider"></li>

            @foreach (var giftingGroup in Model.HomeModel.GiftingGroups.Where(x => x.GroupAdmin).ToList())
            {
                <li>
                    <a class="dropdown-item" asp-area="GiftingGroup" asp-controller="Manage" asp-action="SetupGiftingGroupYear" asp-route-groupId="@giftingGroup.GiftingGroupId">
                        Set Up Group '@giftingGroup.GroupName' for @DateTime.Today.Year
                    </a>
                </li>
            }
        }
    </ul>
}
