@using Application.Areas.GiftingGroup.ViewModels
@model JoinGiftingGroupVm
@{
    string groupNameExplanation = "Enter the name of the group. If you don't know it, ask the person who invited you to join.";
    string joinerTokenExplanation = "Each group has a unique token fr joiners, a bit like a secret passcode.<br><br>If you don't know it, ask the person who invited you to join.";
    string messageExplanation = "You can add a message here if it might help group administrators to know why you're applying to join.";
}

<div class="collapse">
    <input type="hidden" asp-for="GetGroupDetailsAction">
</div>

<div class="row @CenterFlexNoWrapContainer">

    <div class="collapse">
        <input type="hidden" asp-for="GiftingGroupKey">
    </div>

    <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
        <p>
            A gifting group is a group of people who exchange 'Secret Santa' gifts at Christmas.
        </p>
        <p>
            Here you can apply to join a group, by entering details given to you by the person who invited you.
        </p>

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <br />

        <div class="@CenterFlexWrapContainer">
            <div class="@StandardGroupWidth">
                <div class="mb-3">
                    <label asp-for="Name" class="control-label required"></label>
                    <div class="input-group input-info">
                        <input asp-for="Name" class="form-control gifting-group-name" autocomplete="off" aria-required="true" placeholder="Enter the group name here" />
                        <partial name="_InputQuestion" model="@groupNameExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="JoinerToken" class="control-label required"></label>
                    <div class="input-group input-info">
                        <input asp-for="JoinerToken" class="form-control joiner-token" autocomplete="off" aria-required="true" placeholder="Enter the group Joiner Token" />
                        <partial name="_InputQuestion" model="@joinerTokenExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="JoinerToken" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Message" class="control-label"></label>
                    <div class="input-group input-info">
                        <textarea asp-for="Message" class="form-control" ></textarea>
                        <partial name="_InputQuestion" model="@messageExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.Description.NotEmpty())
                {
                    <div class="mb-3">
                        <label asp-for="Description" class="control-label">Group Description</label>
                        <div class="control-label fw-normal group-description">
                            @Model.Description
                        </div>
                    </div>
                }

            </div>
        </div>

        @if (!Model.Blocked)
        {
            <br />
            <div class="col-md-12">
                <partial name="_SubmitButton" />
            </div>
        }
    </div>

</div>