@using System.Linq
@using Application.Areas.GiftingGroup.ViewModels

@model EditGiftingGroupVm
@{
    ViewData["Title"] = Model.Exists ? "Edit Group" : "Create Group";
    string heading = Model.Exists ? $"Edit Gifting Group '{Model.Name}'" : "Create a new Gifting Group";
    string groupNameExplanation = "Each group must have a unique name, to help members identify it.";
    string joinerTokenExplanation = "Give this token to members who want to join the group, to control membership.";
    string cultureInfoExplanation = "This sets the default currency symbol, number formatting etc. for members.";
    string currencyExplanation = "Override the default currency from the location if necessary.";
    string firstYearExplanation = "If you've been exchanging gifts for longer than a year, "
        + "this allows members to say who they bought for in the last year or two, to avoid "
        + "selecting them again if possible.";
}

<h1>@heading</h1>

<section>
    <form asp-area="@AreaNames.GiftingGroup" asp-controller="Manage" asp-action="EditGiftingGroup" method="post">
        <partial name="_FormHiddenInputs" />
        
        <div class="row @CenterFlexNoWrapContainer">

            <div class="collapse">
                <input type="hidden" asp-for="GiftingGroupKey">
            </div>
            
            <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
               <p>
                    A gifting group is a group of people who exchange 'Secret Santa' gifts at Christmas.
                </p>
                <p>
                    Give the Group Name and Joiner Token to anyone else who you invite to join the group.
                </p>

                @if (!Model.Exists)
                {
                    <p>
                        When you create a new group, you are automatically an administrator of that group.
                        Other administrators can be added later.
                    </p>
                }

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <br />

                <div class="@CenterFlexWrapContainer">
                    <div class="@StandardGroupWidth">
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label required"></label>
                            <div class="input-group input-info">
                                <input asp-for="Name" class="form-control" autocomplete="off" aria-required="true" placeholder="Enter the group name here" />
                                <partial name="_InputQuestion" model="@groupNameExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="control-label required"></label>
                            <input asp-for="Description" class="form-control" autocomplete="off" aria-required="true" placeholder="Enter a description to help identify the group" />
                            <div>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="JoinerToken" class="control-label required"></label>
                            <div class="input-group input-info">
                                <input asp-for="JoinerToken" class="form-control" readonly />
                                <partial name="_InputQuestion" model="@joinerTokenExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="JoinerToken" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CultureInfo" class="control-label required"></label>
                            <div class="input-group input-info">
                                <select asp-for="CultureInfo" class="form-control culture-info-select" aria-required="true">                                
                                    @foreach (var ci in Model.Cultures)
                                    {
                                        <option value="@ci.Name" data-currency-string="@ci.CurrencyString">
                                            @ci.Location
                                        </option>
                                    }
                                </select>
                                <partial name="_InputQuestion" model="@cultureInfoExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="CultureInfo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CurrencyOverride" class="control-label required"></label>
                            <div class="d-flex pe-3 gap-3">
                                <div class="col-6 d-flex">
                                    <label asp-for="DefaultCurrency" class="control-label-inline">Default: </label>
                                    <input asp-for="DefaultCurrency" class="form-control default-currency" readonly />
                                </div>
                                <div class="col-6 d-flex">
                                    <label class="control-label-inline">Override: </label>
                                    <div class="input-group input-info">                                    
                                        <select asp-for="CurrencyOverride" class="form-control" aria-required="false">
                                            <option value=@string.Empty></option>
                                            @foreach (var ci in Model.Currencies)
                                            {
                                                <option value="@ci.CurrencyString">
                                                    @ci.CurrencyString
                                                </option>
                                            }
                                        </select>
                                        <partial name="_InputQuestion" model="@currencyExplanation" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="CurrencyOverride" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FirstYear" class="control-label required"></label>
                            <div class="input-group input-info">
                                <select asp-for="FirstYear" class="form-control" autocomplete="off" aria-required="true" 
                                    asp-items="@Model.FirstYears" >
                                </select>
                                <partial name="_InputQuestion" model="@firstYearExplanation" />
                            </div>
                            <div>
                                <span asp-validation-for="FirstYear" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="col-md-12">
                    <partial name="_SubmitButton" />
                </div>
            </div>
        </div>
    </form>
</section>