@using System.Linq
@using Global.Abstractions.Shared

@model ReviewJoinerApplicationVm
@{
    ViewData["Title"] = "Review Joiner Application";
    string allowExplanation = $"Allow {Model.ApplicantName} to join the group?";
    string rejectionMessageExplanation = $"If not allowing {Model.ApplicantName} to join, please explain why."
        + " Required if rejecting the application withou blocking future applications.";
    string blockExplanation = $"{Model.ApplicantName} has already tried to join this group at least twice, and been rejected both times."
        + $" Block {Model.Gender.Indirect()} from sending any future applications?";
}

<h1>Review Joiner Application</h1>

<section>
    <form asp-area="GiftingGroup" asp-controller="Manage" asp-action="ReviewJoinerApplication" class="review-application" method="post">
        <partial name="_FormHiddenInputs" />

        <div class="row @CenterFlexNoWrapContainer">

            <div class="collapse">
                <input type="hidden" asp-for="GroupApplicationKey">
                <input type="hidden" asp-for="ApplicantName">
                <input type="hidden" asp-for="UserName">
                <input type="hidden" asp-for="Email">
                <input type="hidden" asp-for="GroupName">
                <input type="hidden" asp-for="SingleApplication" />
                <input type="hidden" asp-for="CurrentYearCalculated" />
            </div>

            <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
                <p>
                    @Model.ApplicantName has asked to join group '@Model.GroupName'. Can @Model.Gender.Direct() join?
                </p>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <br />

                <div class="@CenterFlexWrapContainer">
                    <div class="@StandardGroupWidth">
                        <div class="mb-3 d-flex">
                            <div class="form-group-ib col-6">
                                <label asp-for="ApplicantName" class="control-label"></label>
                                <div class="control-label fw-normal">
                                    @Model.ApplicantName
                                </div>
                            </div>

                            <div class="form-group-ib col-6">
                                <label asp-for="UserName" class="control-label"></label>
                                <div class="control-label fw-normal">
                                    @Model.UserName
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 d-flex">
                            @if (Model.Email.NotEmpty())
                            {
                                <div class="form-group-ib col-6">
                                    <label asp-for="Email" class="control-label"></label>
                                    <div class="control-label fw-normal">
                                        @Model.Email
                                    </div>
                                </div>
                            }

                            <div class="form-group-ib col-6">
                                <label asp-for="AcceptedOption" class="control-label required"></label>
                                <div class="control-label fw-normal">
                                    <span class="text-secondary">No</span>
                                    <input type="radio" asp-for="AcceptedOption" class="form-check-input accepted-option" autocomplete="off" aria-required="false"
                                           value="false" />
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                            
                                    <span class="text-primary">Yes</span>
                                    <input type="radio" asp-for="AcceptedOption" class="form-check-input accepted-option" autocomplete="off" aria-required="false"
                                           value="true" />
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;

                                    <partial name="_InlineQuestion" model="@allowExplanation" />
                                </div>
                                <div>
                                    <span asp-validation-for="AcceptedOption" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="accepted-section collapse">
                            <div class="mb-3">
                                <br />

                                @if (Model.CurrentYearCalculated)
                                {
                                    <div class="alert alert-warning">
                                        <text>@Model.DisplayFirstName() <span style="font-weight: bold; font-style: italic;">won't</span> be added to the current year automatically, as givers and recipients have already been assigned.</text>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-info">
                                        <text>@Model.DisplayFirstName() will be added to the current year automatically. You can remove @Model.Gender.Indirect() by editing the group's settings for @DateTime.Today.Year.</text>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="rejected-section collapse">
                            <div class="mb-3">
                                <label asp-for="RejectionMessage" class="control-label"></label>
                                <div class="input-group input-info">
                                    <textarea asp-for="RejectionMessage" class="form-control"></textarea>
                                    <partial name="_InputQuestion" model="@rejectionMessageExplanation" />
                                </div>
                            </div>

                            @if (Model.PreviousRequestCount >= 2)
                            {
                                <div class="mb-3">
                                    <label asp-for="Blocked" class="control-label"></label>
                                    <div class="control-label fw-normal">
                                        <input type="checkbox" asp-for="Blocked" class="form-check-input" autocomplete="off" aria-required="false" /> &nbsp; Yes

                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;

                                        <partial name="_InlineQuestion" model="@blockExplanation" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="col-md-12">
                <partial name="_SubmitButton" />
            </div>

        </div>
    </form>
</section>