@using System.Linq
@using Global.Extensions.System
@using static Global.Settings.GiftingGroupSettings

@model SetupGiftingGroupYearVm
@{
    ViewData["Title"] = $"Year Setup";
    string limitExplanation = $"Set the suggested limit for members to spend on each other this year, in {Model.CurrencyCode}";
    string calculateTitle = Model.Calculated ? "Reassign" : YearCalculationOption.Calculate.DisplayName();
    string calculateExplanation = Model.Calculated
        ? "If necessary you can recalculate the Secret Santa recipient for each participating member, or cancel the calculation and leave recalculation until later."
            + "<br><br>Both options would out all previous givers and receivers."
        : "Calculate the Secret Santa recipient for each participating member";
}

<h1>Set Up '@Model.GiftingGroupName' for @Model.Year</h1>

<section>
    <form asp-area="GiftingGroup" asp-controller="Manage" asp-action="SetUpGiftingGroupYear" asp-route-giftingGroupKey="@Model.GiftingGroupKey" method="post">
        <partial name="_FormHiddenInputs" />

        <div class="row d-flex align-items-center justify-content-center text-center">

            <div class="collapse">
                <input type="hidden" asp-for="GiftingGroupKey">
                <input type="hidden" asp-for="GiftingGroupName">
                <input type="hidden" asp-for="CurrencyCode">
                <input type="hidden" asp-for="CurrencySymbol">
                <input type="hidden" asp-for="Calculated">
                <input type="hidden" asp-for="RecalculationRequired">
                <input type="hidden" asp-for="Year">
            </div>

            <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
                <p>
                    Set the spending limit and participating members for the '@Model.GiftingGroupName' group in @Model.Year.
                    Once everything is ready, you can trigger to match givers and receivers at random.
                </p>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                @if (!string.IsNullOrWhiteSpace(Model.PreviousYearsWarning))
                {
                    <div class="text-danger">@Model.PreviousYearsWarning</div>
                }
                <br />

                <div class="d-flex flex-wrap text-center justify-content-center align-content-center">
                    <div>
                        <div class="mb-3">
                            <label asp-for="Limit" class="control-label"></label>
                            <div class="input-group input-info">
                                <div class="input-group-text">@Model.CurrencySymbol</div>
                                <input asp-for="Limit" class="form-control" />
                                <partial name="_InputQuestion" model="@limitExplanation" />
                            </div><div>
                                <span asp-validation-for="Limit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Calculate" class="control-label"></label>
                            <div class="control-label fw-normal">
                                @if (Model.Calculated)
                                {
                                    <input type="radio" asp-for="CalculationOption" class="form-check-input" autocomplete="off" aria-required="false" value="@YearCalculationOption.Calculate" />
                                    <text>
                                        &nbsp; @YearCalculationOption.Calculate.DisplayName()

                                        &nbsp;
                                        &nbsp;
                                    </text>
                                    <input type="radio" asp-for="CalculationOption" class="form-check-input" autocomplete="off" aria-required="false" value="@YearCalculationOption.Cancel" />
                                    <text>
                                        &nbsp; @YearCalculationOption.Cancel.DisplayName()

                                        &nbsp;
                                        &nbsp;
                                    </text>
                                    <input type="radio" asp-for="CalculationOption" class="form-check-input" autocomplete="off" aria-required="false" value="@YearCalculationOption.None" />
                                    <text>
                                        &nbsp; @YearCalculationOption.None.DisplayName() @* TODO: Only show this once one of the others is selected *@

                                        &nbsp;
                                        &nbsp;
                                    </text>
                                }
                                else
                                {
                                    <input type="checkbox" asp-for="Calculate" class="form-check-input" autocomplete="off" aria-required="false" />
                                    <text>
                                        &nbsp; Yes

                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                    </text>
                                }
                                <div class="d-inline" data-toggle="tooltip" data-html="true" data-bs-html="true" data-bs-container="label" title="@calculateExplanation">
                                    <i class="fa fa-circle-question fa-border"></i>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="CalculationOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="mb-5 mt-2 align-items-center justify-content-center align-content-center">
                <h2>Participating group members</h2>
                <p>
                    Here you can control which group members will participate this year.
                </p>
                <br />

                <div class="col-md-12 d-flex align-items-center justify-content-center text-center">
                    <div class="@StandardFullWidthGridContainer">
                        <partial name="_GiftingGroupYearMembersTable" />
                    </div>
                </div>

                <br />
                <div class="col-md-12">
                    <partial name="_SubmitButton" />
                </div>
            </div>

        </div>
    </form>
</section>