@model SantaUser
@{
    string emailExplanation = "Not mandatory, but if provided this will only be used to provide updates from your group.";
    string userNameExplanation = $"Required if {UserDisplayNames.Email} is not provided; you can use either to log in.<br/><br/>"
        + $"If you <b>don't</b> set a {UserDisplayNames.UserName}, {StandardPhrases.EmailVisibleExplanation}.";
    string useEmailExplanation = $"Note that if ticked, {StandardPhrases.EmailVisibleExplanation}.";
}

<div class="@CenterFlexWrapContainer">
    <div class="@StandardGroupWidth">

        <div class="collapse">
            <input type="hidden" asp-for="EmailConfirmed" />
        </div>

        <div class="mb-3 d-flex">
            <div class="form-group-ib col-sm-12 username-container">
                <label asp-for="UserName" class="control-label"></label>
                <div class="input-group input-info">
                    <input asp-for="UserName" class="form-control username-input" autocomplete="username" aria-required="false" 
                        placeholder="Create a @UserDisplayNames.UserName (recommended)" />
                    <partial name="_InputQuestion" model="@userNameExplanation" />
                </div>
                <div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-ib col-sm-3 col-4 use-email-checkbox-container" style="display: none !important">
                &nbsp;
                <div>
                    <label class="control-label pt-1 ps-2 d-flex justify-content-end">
                        &nbsp;
                        Use E-mail
                        &nbsp;

                        <input type="checkbox" class="form-check-input use-email-checkbox" />
                        &nbsp;
                        &nbsp;

                        <partial name="_FormInlineQuestion" model="@useEmailExplanation" />
                    </label>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="control-label"></label>
            <div class="input-group input-info">
                <input asp-for="Email" class="form-control email-input" autocomplete="email" aria-required="false"
                       placeholder="name@example.com (optional)" />
                <partial name="_InputQuestion" model="@emailExplanation" />
            </div>
            <div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>