@using static Global.Settings.IdentitySettings

@model PersonalDetailsBaseVm
@{
    string middleNamesExplanation = "This is optional, but may be helpful if someone else has a similar first name and surname.";
    string preferredNameExplanation = $"If you don't usually use your actual {UserDisplayNames.Forename}, please tell Santa the name you prefer.";
    string genderExplanation = "What do you prefer to be known as?" 
        + "<br/><br/>Only needed so Santa doesn't have to keep repeating your name in sentences."
        + "<br/><br/>Santa doesn't care what you call yourself, only if you've been naughty or nice!";
}

<div class="@CenterFlexWrapContainer">
    <div class="@StandardGroupWidth">
        <div class="mb-3">
            <label asp-for="Forename" class="control-label required"></label>
            <input asp-for="Forename" class="form-control first-name show-name" autocomplete="firstname" aria-required="true" placeholder="Enter your first name here" />
            <div>
                <span asp-validation-for="Forename" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="MiddleNames" class="control-label"></label>
            <div class="input-group input-info">
                <input asp-for="MiddleNames" class="form-control middle-names show-name" autocomplete="middlenames" aria-required="false" 
                    placeholder="Enter any middle names here (optional)" />
                <partial name="_InputQuestion" model="@middleNamesExplanation" />
            </div>
            <div>
                <span asp-validation-for="MiddleNames" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 d-flex">
            <div class="form-group-ib col-sm-12">
                <label asp-for="PreferredNameType" class="control-label required"></label>
                <div class="d-flex flex-wrap align-items-center" style="vertical-align: middle">
                    <div class="control-label fw-normal">
                        First
                        <input type="radio" asp-for="PreferredNameType" class="form-check-input preferred-name-option show-name" 
                            autocomplete="off" aria-required="false" value="@PreferredNameOption.Forename" />
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;

                        Middle
                        <input type="radio" asp-for="PreferredNameType" class="form-check-input preferred-name-option show-name" 
                            autocomplete="off" aria-required="false" value="@PreferredNameOption.MiddleName" />
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;

                        Nickname
                        <input type="radio" asp-for="PreferredNameType" class="form-check-input preferred-name-option show-name" 
                            autocomplete="off" aria-required="false" value="@PreferredNameOption.Nickname" />
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;

                        Other
                        <input type="radio" asp-for="PreferredNameType" class="form-check-input preferred-name-option show-name" 
                            autocomplete="off" aria-required="false" value="@PreferredNameOption.Other" />
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="flex-grow-1">
                        <input asp-for="PreferredFirstName" class="form-control show-name preferred-name" autocomplete="preferredName" 
                            aria-required="false" placeholder="Preferred name" />
                    </div>
                    <div class="float-end ps-3">
                        <partial name="_FormInlineQuestion" model="@preferredNameExplanation" />
                    </div>
                </div>
                <div>
                    <span asp-validation-for="PreferredFirstName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Surname" class="control-label required"></label>
            <input asp-for="Surname" maxlength="250" class="form-control show-name" autocomplete="surname" aria-required="true" 
                placeholder="Enter your surname here" />
            <div>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>

        <div class="name-variations-container" data-url="@Url.Action(Context, "ShowNameVariations", "Manage", AreaNames.Account)">
            <partial name="_ShowNameVariations" />
        </div>

        <div class="mb-3">
            <label asp-for="SelectGender" class="control-label required"></label>
            <div class="control-label fw-normal">

                <span>Female (She)</span>
                <input type="radio" asp-for="SelectGender" class="form-check-input" autocomplete="off" aria-required="false"
                       value="@Gender.Female" />
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <span>Male (He)</span>
                <input type="radio" asp-for="SelectGender" class="form-check-input" autocomplete="off" aria-required="false"
                       value="@Gender.Male" />
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <span>Other/Prefer not to say (They)</span>
                <input type="radio" asp-for="SelectGender" class="form-check-input" autocomplete="off" aria-required="false"
                       value="@Gender.Other" />
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <partial name="_FormInlineQuestion" model="@genderExplanation" />
            </div>
            <div>
                <span asp-validation-for="SelectGender" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>