@using ViewLayer.Models.Account;

@model RegisterVm
@{
    ViewData["Title"] = "Register";
    string emailExplanation = "Not mandatory, but if provided this will only be used to provide updates from your group.";
    string userNameExplanation = "Required if E-mail is not provided; you can use either to log in.";
}

<div class="text-center">
    <h1>Welcome to Secret Santa!</h1>

    <section>
        <form asp-area="Account" asp-controller="Manage" asp-action="Register" method="post">
            <div class="row text-center">
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-5">
                    <h2>Please create an account</h2>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <div class="input-group input-info">
                            <input asp-for="Email" class="form-control" autocomplete="email" aria-required="false" placeholder="name@example.com" />
                            <div class="input-group-text" data-toggle="tooltip" data-html="true" title="@emailExplanation">
                                <i class="fa fa-info-circle fa-border"></i>
                            </div>                           
                        </div>
                        <div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="UserName" class="control-label"></label>
                        <div class="input-group input-info">
                            <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="false" placeholder="Create a username" />
                            <div class="input-group-text" data-toggle="tooltip" data-html="true" title="@userNameExplanation">
                                <i class="fa fa-info-circle fa-border"></i>
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Create a new password" />
                        <div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter your new password" />                        
                        <div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="Forename" class="control-label"></label>
                        <div class="input-group input-info">
                            <input asp-for="Forename" maxlength="250" class="form-control" autocomplete="forename" aria-required="false" placeholder="Enter your first name here" />
                        </div>
                        <div>
                            <span asp-validation-for="Forename" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="MiddleNames" class="control-label"></label>
                        <div class="input-group input-info">
                            <input asp-for="MiddleNames" maxlength="250" class="form-control" autocomplete="middlenames" aria-required="false" placeholder="Enter any middle names here" />
                            <div class="input-group-text" data-toggle="tooltip" data-html="true" title="This is optional, but may be helpful if someone else has a similar first name and surname">
                                <i class="fa fa-info-circle fa-border"></i>
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="MiddleNames" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="Surname" class="control-label"></label>
                        <div class="input-group input-info">
                            <input asp-for="Surname" maxlength="250" class="form-control" autocomplete="surname" aria-required="false" placeholder="Enter your surname here" />
                        </div>
                        <div>
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 d-flex flex-wrap justify-content-between">
                    <div>
                        <a asp-area="Account" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Model?.ReturnUrl">Already have an account?</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            </div>
        </form>
    </section>

    @*     <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to register.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div> *@

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
