@model RegisterVm
@{
    ViewData["Title"] = "Register";
}

<h1>Welcome to Secret Santa!</h1>

<section>
    <form asp-area="Account" asp-controller="Manage" asp-action="Register" method="post">
        <partial name="_FormHiddenInputs" />
        
        <div class="row @CenterFlexNoWrapContainer">

            <div class="mb-5">
                <h2>Please create an account</h2>

                <div class="mt-2 mb-4">
                    <p>@StandardPhrases.DetailsScrambled.</p>
                    <p>@StandardPhrases.EmailVisibility.</p>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <partial name="_SetUserNameAndEmail" />

                <partial name="_SetPassword" />

                <partial name="_SetPersonalDetails" />

                <br />
                <div class="col-md-12">
                    <partial name="_SubmitButton" />
                </div>
            </div>

        </div>
        <div class="row @CenterFlexNoWrapContainer">

            <div class="@StandardGroupWidth @EvenSpacingFlexGroup">
                <div>
                    <a asp-area="Account" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Model?.ReturnUrl" data-toggle="tooltip" title="Log In">Already have an account?</a>
                </div>
                <div>
                    <a asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" asp-route-returnUrl="@Model?.ReturnUrl" data-toggle="tooltip" title="Reset Your Password">Forgot your password?</a>
                </div>
            </div>

        </div>
    </form>
</section>
