@using Global.Abstractions.Areas.GiftingGroup

@model HomeVm
@{
    var giftingGroups = Model?.GiftingGroups ?? new List<IUserGiftingGroup>();
    bool separateGroupBoxes = giftingGroups.Count > 2 || giftingGroups.Any(x => x.GroupAdmin);
}

<div class="d-flex justify-content-left" style="flex-wrap: wrap !important">
    <div class="@StandardCardWidth">
        <div class="card ">
            <div class="card-header">
                <span class="fa-solid fa-user fa-border float-start" style="color: #444444"></span>Your Account
            </div>
            <div class="card-body">
                <h5 class="card-title">Manage your login and account details</h5>
                @* <p class="card-text">Manage your login and account details</p> *@
                <p>
                    <a asp-area="Account" asp-controller="Manage" asp-action="UpdateDetails">
                        Update Your Details
                    </a>
                </p>
                <p>
                    <a asp-area="Account" asp-controller="Manage" asp-action="SetSecurityQuestions">
                        Update Your Security Questions
                    </a>
                </p>
                <p>
                    <a asp-area="Account" asp-controller="Manage" asp-action="ChangePassword">
                        Change Your Password
                    </a>
                </p>
                <p>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty, successMessage = "Logged Out Successfully" })">
                        <button type="submit" class="dropdown-item">Log Out</button>
                    </form>
                </p>
            </div>
        </div>
    </div>

    <div class="@StandardCardWidth">
        <div class="card ">
            <div class="card-header">
                <span class="fa-solid fa-heart fa-border float-start" style="color: #ff3333"></span>Your Partners
            </div>
            <div class="card-body">
                <h5 class="card-title">Avoid Santa selecting your partner to receive a gift</h5>
                <p>
                    <a asp-area="Partners" asp-controller="Manage" asp-action="Index">
                        Manage Your Relationships
                    </a>
                </p>
                <p>
                    <a asp-area="Partners" asp-controller="Manage" asp-action="AddRelationship">
                        Add a Relationship
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="@StandardCardWidth">
        <div class="card ">
            <div class="card-header">
                <span class="fa-solid fa-gift fa-border float-start" style="color: #66dddd"></span>Your Gifting Groups
            </div>
            <div class="card-body">
                <h5 class="card-title">Manage the groups that you're in</h5>

                <p>
                    <a asp-area="GiftingGroup" asp-controller="Manage" asp-action="CreateGiftingGroup">
                        Create a New Gifting Group
                    </a>
                </p>
                <p>
                    <a asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinGiftingGroup">
                        Apply to Join a Gifting Group
                    </a>
                </p>
                <p>
                    <a asp-area="GiftingGroup" asp-controller="Participate" asp-action="Index">
                        Participate for @DateTime.Today.Year
                    </a>
                </p>
                <p>
                    <a asp-area="GiftingGroup" asp-controller="Suggestions" asp-action="Index">
                        Manage Suggestions
                    </a>
                </p>

                @if (giftingGroups.Any())
                {
                    @if (Model?.NewJoinerApplications > 0)
                    {
                        <p>
                            <a asp-area="GiftingGroup" asp-controller="Manage" asp-action="JoinerApplications">
                                Review Joiner Applications
                            </a>
                        </p>
                    }

                    if (!separateGroupBoxes)
                    {
                        @foreach (var giftingGroup in giftingGroups)
                        {
                            <partial name="_GroupPanelContent" model="@giftingGroup" />
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="@StandardCardWidth">
        <div class="card ">
            <div class="card-header">
                <span class="fa-solid fa-envelope fa-border float-start" style="color: #eebb55"></span>Your Messages
            </div>
            <div class="card-body">
                <h5 class="card-title">Read and reply to your messages</h5>
                <p>
                    <a asp-area="Messages" asp-controller="Home" asp-action="Index">
                        Read Your Messages
                    </a>
                </p>
            </div>
        </div>
    </div>

    @if (separateGroupBoxes)
    {
        int groupCounter = 0;

        @foreach (var giftingGroup in giftingGroups)
        {
            groupCounter++;
            string icon = (groupCounter % 4) switch { 1 => "fa-candy-cane", 2 => "fa-gifts", 3 => "fa-holly-berry", _ => "fa-sleigh" };
            string iconColour = (groupCounter % 2) switch { 1 => "#ff0000", _ => "#ffffff" };
            string cardTitle = giftingGroup.GroupAdmin ? $"Manage group '{@giftingGroup.GroupName}'" : $"Participate in group '{@giftingGroup.GroupName}'";

            <div class="@StandardCardWidth">
                <div class="card ">
                    <div class="card-header">
                        <span class="fa-solid @icon fa-border float-start" style="color: @iconColour"></span>Group '@giftingGroup.GroupName'
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@cardTitle</h5>

                        <partial name="_GroupPanelContent" model="@giftingGroup" />
                    </div>
                </div>
            </div>
        }
    }
</div>