@using Application.Areas.Home.ViewModels
@using Global.Abstractions.Areas.Account

@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager

@model HomeVm
@{
    ViewData["Title"] = "Home Page";

    ISantaUser? currentUser = Model?.CurrentUser;
    bool mustSetSecurityQuestions = currentUser?.SecurityQuestionsSet == false;

    string welcomeSignedInUser = currentUser == null ? "Welcome to Secret Santa"
        : ("Welcome" + (mustSetSecurityQuestions ? string.Empty : " back")
        + (string.IsNullOrWhiteSpace(currentUser.Greeting) ? " to Secret Santa" : string.Empty) // avoid making the string too long
        + $", {currentUser.DisplayFirstName()}"
        + (string.IsNullOrWhiteSpace(currentUser.Greeting) ? "!" : $". {currentUser.Greeting}!"));
}

<partial name="_SuccessMessage" />

@if (_signInManager.IsSignedIn(User))
{
    <h1>@welcomeSignedInUser</h1>


    @if (mustSetSecurityQuestions)
    {
        <div class="mt-2 @CenterFlexNoWrapContainer">
            <p>
                Santa has one final task for you before he can accept your wish list. Please set some
                <a asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="SetSecurityQuestions" data-toggle="tooltip" title="Set Your Security Questions">
                    security questions
                </a> in case you forget your password and need to reset it.
            </p>
        </div>
    }
    else
    {
        <div class="mt-2 @CenterFlexNoWrapContainer">
            <div class="col-xl-10 col-lg-11 col-md-12 mt-2">

                @if (Model != null)
                {
                    <section style="margin: 0 12px 12px 12px">
                        <partial name="_ConfirmEmailWarning" model="Model.CurrentUser" />
                    </section>
                }

                <partial name="_HomePageCards" />
            </div>
        </div>
    }
}
else
{
    <h1>Welcome to Secret Santa!</h1>
    <div class="mt-2">
        <p>
            Please <a asp-area="@AreaNames.Account" asp-controller="Home" asp-action="Login">log in</a> if you have an account,
            or <a asp-area="@AreaNames.Account" asp-controller="Manage" asp-action="Register">register</a> as a new user.
        </p>
        <p>
            If you have an account but have forgotten your password, you can
            <a asp-area="@AreaNames.Account" asp-controller="Home" asp-action="ForgotPassword" data-toggle="tooltip" title="Reset Your Password">
                reset it here.
            </a>
        </p>
    </div>
    <br />

    <section class="@CenterFlexWrapContainer">
        <div class="@StandardPageWidth">

            <div class="card mt-3">
                <div class="card-header">
                    <h2>About Secret Santa</h2>
                </div>
                <div class="card-body">
                    <partial name="_About" />
                </div>
            </div>

        </div>
    </section>
}
