@using ViewLayer.Models.Home

@inject IWebHostEnvironment environment
@inject SignInManager<IdentityUser> SignInManager

@{
    HomeVm Model = ViewData["LayoutViewModel"] as HomeVm ?? new HomeVm();
    bool mustSetSecurityQuestions = Model?.CurrentUser?.SecurityQuestionsSet == false;

    var smallMenuModel = new MainMenuVm
    {
        HomeModel = Model ?? new(),
        Small = true
    };

    var normalMenuModel = new MainMenuVm
    {
        HomeModel = Model ?? new(),
        Small = false
    };
}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecretSanta</title>

    <script>
        FontAwesomeConfig = { autoReplaceSvg: false }
    </script>
    
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" /> @* This is after Bootstrap to preserve the original styling *@
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <div class="snow">
        <div class="snow-layer1 a"></div>
        <div class="snow-layer1"></div>
        <div class="snow-layer2 a"></div>
        <div class="snow-layer2"></div>
        <div class="snow-layer3 a"></div>
        <div class="snow-layer3"></div>
    </div>
    <header>        
        <nav class="navbar navbar-expand-sm bg-opacity-75">
            <div class="container-fluid align-items-start">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (mustSetSecurityQuestions)
                    {
                        <a class="navbar-brand" href="#"></a>
                        <a class="nav-link" asp-area="Account" asp-controller="Manage" asp-action="SetSecurityQuestions">Set Your Security Questions</a>
                    }
                    else if (Model?.CurrentUser != null)
                    {
                        <div class="text-start justify-content-start">
                            <div class="navbar" style="flex-wrap: nowrap !important;">
                                <a class="nav-link left-menu-item" asp-area=@string.Empty asp-controller="Home" asp-action="Index">
                                    <i class="fa fa-house">&nbsp;</i>Home
                                </a>

                                <partial name="Menu/_UserDetailsMenu" model="@Model" />
                            </div>
                        </div>

                        <div class="d-none d-sm-block text-end justify-content-end">
                            <div class="collapse navbar-collapse text-end justify-content-end" style="min-height: 40px !important; flex-wrap: wrap !important;">
                                @* In normal mode, show normal drop-downs *@
                                <partial name="Menu/_LoggedInMenu" model="@normalMenuModel" />
                            </div>
                        </div>

                        <div class="d-block d-sm-none text-end justify-content-end">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" title="Menu"
                                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fa-solid fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse text-end justify-content-end" id="navbarContent">
                                @* In xs mode, show left drop-downs *@
                                <partial name="Menu/_LoggedInMenu" model="@smallMenuModel" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" title="Menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa-solid fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse text-end justify-content-end" id="navbarContent" style="min-height: 40px !important">
                        <partial name="Menu/_LoginMenu" />
                    </div>
                }
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1 snow-background">       
        <main role="main" class="d-flex flex-column" style="margin: 0 !important; width: 100% !important; height: 100% !important">
            <div class="wrapper row flex-grow-1" style="position: relative">
                <div class="thinking justify-content-center text-center align-middle" style="display: none !important">
                    <div class="d-flex flex-column" style="margin: 0 !important; width: 100% !important; height: 100% !important">
                        <div class="row flex-grow-1 col-12 align-items-center d-flex flex-column">
                            <div class="row flex-grow-1"></div>
                            <div class="row">
                                <h3>Please wait, Santa's elves are working on it...</h3>
                            </div>
                            <div class="row">
                                <div>
                                    <img src="~/img/dancing-elves.gif" height="225px !important" width="300px !important" 
                                        style="max-height: 225px !important; max-width: 300px !important; vertical-align: top !important" />
                                </div>
                            </div>
                            <div class="row flex-grow-1"></div>
                        </div>
                    </div>
                </div>
                <div class="pt-4 pb-4 ps-4 pe-4 text-center">
                    @RenderBody()
                </div>
        </div>
        </main>
    </div>

    <footer class="footer d-flex justify-content-between">        
        <div><span class="text-secondary text-glow">Secret Santa</span> was created by <a target="_blank" href="http://mrmarkajohnson.co.uk/">Mark Johnson</a></div>
        <div class="text-center"><a asp-area=@string.Empty asp-controller="Home" asp-action="Privacy">Privacy</a></div>
        <div class="text-end"> <a target="_blank" href="https://icons8.com/icon/52PmO1ntgoRU/berries">Berries</a> icon by 
            <a target="_blank" href="https://icons8.com">Icons8</a> and converted in <a target="_blank" href="https://www.xiconeditor.com/">XIconEditor</a>
        </div>
        
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>

    <environment include="Development">
        <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/global.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/global.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>

    @{
        string relativePath = Context.Request.Path.ToString().Trim('/');
        string bundlePath = $"js/{relativePath}/" + (environment.IsDevelopment() ? "bundle.js" : "bundle.min.js");

        string absolutePath = System.IO.Path.GetFullPath($"wwwroot/{bundlePath}");
        if (System.IO.File.Exists(absolutePath))
        {
            <script src="~/@bundlePath"></script>
        }

        await RenderSectionAsync("Scripts", required: false);
    }
</body>
</html>
