@using static Global.Settings.MessageSettings

@model ChooseMessageRecipientVm
@{
    string recipientTypeExplanation = Model.GiftingGroupKey > 0 ? "Select who this message will go to." : "Please select a group first.";
    // TODO: Add more help for specific types, when present

    string futureMembersExplanation = "Allow group members who fit this category in future (but not now) to view this message.";

    bool recipientTypeDisabled = Model.GiftingGroupKey > 0 == false;
    bool otherAdmins = Model.OtherGroupMembers.Any(x => x.GroupAdmin);
}

<div class="mb-3 d-flex">
    <div class="form-group-ib col-6">
        <label asp-for="RecipientType" class="control-label"></label>

        @if (Model.AvailableRecipientTypes.Count > 1)
        {
            <div class="input-group input-info">
                <select asp-for="RecipientType" class="form-control recipient-type-select" aria-required="true" disabled="@recipientTypeDisabled">
                    <option value="@MessageRecipientType.TBC">@StandardPhrases.PleaseSelect</option>

                    @foreach (MessageRecipientType type in Model.AvailableRecipientTypes)
                    {
                        <option value="@type" data-specific="@type.SpecificMember()"
                            data-future-label="@type.FutureLabel(Model.OriginalRecipientType)"
                            data-future-explanation="@type.FutureExplanation(Model.OriginalRecipientType)">

                            @type.SenderToDescription(Model.GroupName, otherAdmins)
                        </option>
                    }
                </select>
                <partial name="_InputQuestion" model="@recipientTypeExplanation" />
            </div>
            <div>
                <span asp-validation-for="RecipientType" class="text-danger"></span>
            </div>
        }
        else if (Model.IsReply && Model.ReplyToName.IsNotEmpty())
        {
            <div style="text-align: left !important">
                <span class="control-label fw-normal">@Model.ReplyToName</span>
            </div>
        }
    </div>

    <div class="form-group-ib col-6 ps-3 collapse future-members-section">
        <label asp-for="IncludeFutureMembers" class="control-label include-future-members-label"></label>
        <div class="control-label fw-normal mt-1">
            <input type="checkbox" asp-for="IncludeFutureMembers" class="form-check-input"
                    autocomplete="off" aria-required="false" /> &nbsp; Yes

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;

            <partial name="_FormInlineQuestion" model="@futureMembersExplanation" />
        </div>
        <div>
            <span asp-validation-for="IncludeFutureMembers" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group-ib col-6 ps-3 collapse specific-recipient-section">
        <label asp-for="SpecificGroupMemberKey" class="control-label include-future-members-label"></label>
        <div class="input-group input-info">
            <select asp-for="SpecificGroupMemberKey" class="form-control" aria-required="true" asp-items="Model.MemberSelection">
                <option value="@null">@StandardPhrases.PleaseSelect</option>
            </select>

            @* TODO: When this has a value and when it changes, show the info icon for the selected user *@
        </div>
        <div>
            <span asp-validation-for="SpecificGroupMemberKey" class="text-danger"></span>
        </div>
    </div>
</div>
