@using Global.Abstractions.Areas.Messages
@using Web.Extensions

@model IQueryable<ISantaMessage>
@{
    Func<ISantaMessage, object> actions =
    @<text>
        <a class="modal-link view-message-link" data-message-key="@item.MessageKey" data-message-recipient-key="@item.MessageRecipientKey"
            data-url="@Url.Action(Context, "ViewMessage", "Home", AreaNames.Messages, new { messageKey=item.MessageKey, messageRecipientKey=item.MessageRecipientKey })"
            data-toggle="tooltip" title="View Message"><i class="fa fa-eye"></i></a>

        @if (item.CanReply)
        {
            <a class="modal-link" data-url="@Url.Action(Context, "Reply", "Home", AreaNames.Messages, new { messageKey = item.MessageKey })"
               data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></a>
        }
    </text>;

    Func<ISantaMessage, object> from =
    @<text>
        @if (item.Sender != null)
        {
            @item.SenderName
            <partial name="_UserInfoCard" model="@item.Sender" view-data="@ViewData.TooltipContainerVd("td")" />
        }
        else
        {
            @item.SenderName
        }
    </text>;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(x => x.Sent).RenderedAs(x => x.Sent.ToDateTimeString()).Titled("Sent");
        columns.Add(x => x.SenderName).RenderedAs(from).Titled("From");
        columns.Add(x => x.RecipientType).RenderedAs(x => x.RecipientToDescription()).Titled("To");
        columns.Add(x => x.HeaderText).Titled("Subject");
        columns.Add().RenderedAs(actions).Titled("Actions").Encoded(false).Css("nowrap");
    })
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<int, string> { { 0, "All" }, { 10, "10" }, { 20, "20" }, { 50, "50" } };
        pager.ShowPageSizes = true;
    })
    .UsingUrl(Url.Action("MessagesGrid") ?? "")
    .Empty("No messages found")
    .Id("messages-grid")
    .Filterable()
    .Sortable()
    .RowAttributed(x => new { @class = (x.Important ? "bold " : "") + (!x.Read ? "text-danger" : "") })
)
