@using Global.Abstractions.Areas.Messages

@model IQueryable<IReadMessage>
@{
    Func<IReadMessage, object> actions =
    @<text>
        <a class="modal-link" data-url="@Url.Action(Context, "ViewMessage", "Home", "Messages", new { messageRecipientKey = item.MessageRecipientKey })"
           data-toggle="tooltip" title="View Message">
            <i class="fa fa-eye"></i>
        </a>
    </text>;

    Func<IReadMessage, object> from =
    @<text>
        @if (item.Sender != null)
        {
            @item.SenderName
            <partial name="_UserInfoCard" model="@item.Sender" />
        }
        else
        {
            @item.SenderName
        }
    </text>;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(x => x.Sent).RenderedAs(x => x.Sent.ToDateTimeString()).Titled("Sent");
        columns.Add(x => x.SenderName).Titled("From");
        columns.Add(x => x.RecipientTypes).RenderedAs(x => x.RecipientTypes.DisplayName()).Titled("To");
        columns.Add(x => x.HeaderText).Titled("Subject");
        columns.Add().RenderedAs(actions).Titled("Actions").Encoded(false).Css("nowrap");
    })
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<int, string> { { 0, "All" }, { 10, "10" }, { 20, "20" }, { 50, "50" } };
        pager.ShowPageSizes = true;
    })
    .UsingUrl(Url.Action("MessagesGrid") ?? "")
    .Empty("No messages found")
    .Id("messages-grid")
    .Filterable()
    .Sortable()
    .RowAttributed(x => new { @class = (x.Important ? "bold " : "") + (!x.Read ? "text-danger" : "") })
)
