@using System.Web
@using Application.Areas.Messages.ViewModels
@using Web.Extensions

@model ReadMessageVm
@{
    string modalId = Model.SentMessage ? "sentMessageModal" : "viewMessageModal";
}

<div class="modal santa-modal" tabindex="-1" id="@modalId" data-close-url="@Url.Action(Context, "MarkMessageRead", "Home", "Messages")" 
    data-message-key="@Model.MessageKey" data-message-recipient-key="@Model.MessageRecipientKey" data-read="@Model.Read">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">            
            <partial name="Modal/_ModalHeader" />

            <div class="modal-body">
                <div class="row @CenterFlexNoWrapContainer">

                    <div class="col-11">
                        <div class="form-group-ib col-12 mb-3">
                            <label asp-for="Sent" class="control-label"></label>
                            <div class="control-label fw-normal">
                                @Model.Sent.ToDateTimeString()
                            </div>
                        </div>
                    </div>

                    <div class="col-11">
                        <div class="mb-3 d-flex">
                            <div class="form-group-ib col-6">
                                <label asp-for="SenderName" class="control-label"></label>
                                <div class="control-label fw-normal">
                                    @Model.SenderName
                                </div>
                            </div>
                            <div class="form-group-ib col-6">
                                <label asp-for="RecipientType" class="control-label"></label>
                                <div class="control-label fw-normal">
                                    @Model.RecipientType.MessageRecipientToDescription(Model.GroupName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-11">
                        <div class="form-group-ib col-12 mb-3">
                            <label asp-for="HeaderText" class="control-label"></label>
                            <div class="control-label fw-normal">
                                @Model.HeaderText
                            </div>
                        </div>
                    </div>

                    <div class="col-11">
                        <div class="form-group-ib col-12 mb-3">
                            <label asp-for="MessageText" class="control-label"></label>
                            <div class="control-label fw-normal">
                                @Model.MessageText.ToRawHtml()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <partial name="Modal/_ModalFooter" />
        </div>
    </div>
</div>