@using System.Web
@using Application.Areas.Messages.ViewModels
@using Web.Extensions

@model ReadMessageVm
@{
    string modalId = Model.IsSentMessage ? "sentMessageModal" : "viewMessageModal";
}

<div class="modal santa-modal" tabindex="-1" id="@modalId" data-close-url="@Url.Action(Context, "MarkMessageRead", "Home", "Messages")" 
    data-message-key="@Model.MessageKey" data-message-recipient-key="@Model.MessageRecipientKey" data-read="@Model.Read">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">            
            <partial name="Modal/_ModalHeader" />

            <div class="modal-body">
                <div class="row @CenterFlexNoWrapContainer">
                    <partial name="_ViewMessageDetails" />

                    @if (Model.PreviousMessages.Any())
                    {
                        <div class="col-11">
                            <h2>Previous Messages</h2>

                            @foreach (var message in Model.PreviousMessages)
                            {
                                <partial name="_PreviousMessageDetails" model="@message" />
                            }
                        </div>
                    }
                </div>
            </div>

            <partial name="Modal/_ModalFooter" />
        </div>
    </div>
</div>