@using Web.Extensions
@using static Global.Settings.MessageSettings

@model WriteMessageVm
@{    
    string selectGroupExplanation = "You can only message members in one of your groups. Please select the group first.";
    string headerExplanation = "Give your message a short subject";
    string textExplanation = "Write the main part of your message here.";
}

<partial name="_FormHiddenInputs" />

<div class="row @CenterFlexNoWrapContainer">

    <div class="collapse">
        <input type="hidden" asp-for="ReplyToMessageKey" />
        <input type="hidden" asp-for="IsModal" />
        <input type="hidden" asp-for="GroupKeyPreset" />
        <input type="hidden" asp-for="OriginalRecipientType" />
    </div>

    <div class="mb-5">

        <partial name="Modal/_OptionalModalContentHeader" />

        <div class="@CenterFlexWrapContainer">
            <div class="@Model.GroupWidth">

                @if (Model.LaterMessages.Any())
                {
                    var latestMessage = Model.LaterMessages.OrderByDescending(x => x.Sent).First();
                    string replyToLatestAction = latestMessage.IsSentMessage ? "ReplyToSent" : "Reply";

                    <div class="alert alert-info">
                        You are not replying to the latest message in the conversation. Please see 'Later Messages' below.<br/>
                        <a class="btn-close-modal modal-link" data-bs-dismiss="modal"
                                data-url="@Url.Action(Context, replyToLatestAction, "Home", "Messages", new { messageKey = Model.LaterMessages[0].MessageKey })">
                            Reply to latest
                        </a>
                    </div>
                }

                @if (!Model.GroupKeyPreset || Model.GiftingGroupKey.IsEmpty())
                {                        
                    <div class="mb-3">
                        <label asp-for="GiftingGroupKey" class="control-label"></label>
                        <div class="input-group input-info">
                            <select asp-for="GiftingGroupKey" class="form-control gifting-group-select" aria-required="true"
                                asp-items="Model.GroupSelection"
                                data-url="@Url.Action(Context, "ChooseMessageRecipient", "Home", "Messages")">

                                <option value="@null">@StandardPhrases.PleaseSelect</option>
                            </select>
                            <partial name="_InputQuestion" model="@selectGroupExplanation" />
                        </div>
                        <div>
                            <span asp-validation-for="GiftingGroupKey" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="collapse">
                        <input type="hidden" asp-for="GiftingGroupKey" />
                    </div>

                    @if (Model.GroupSelection.Count > 1 && Model.GroupName.IsNotEmpty())
                    {
                        <div class="mb-3">
                            <label asp-for="GiftingGroupKey" class="control-label"></label>
                            <div class="control-label fw-normal">
                                @Model.GroupName
                            </div>
                        </div>
                    }
                }
                
                <div class="message-recipient-section">
                    <partial name="_ChooseMessageRecipient" />
                </div>

                <div class="mb-3">
                    <label asp-for="HeaderText" class="control-label"></label>
                    <div class="input-group input-info">
                        <input asp-for="HeaderText" class="form-control" aria-required="true" />
                        <partial name="_InputQuestion" model="@headerExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="HeaderText" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="MessageText" class="control-label"></label>
                    <div class="input-group input-info">
                        <div class="flex-grow-1">
                            @* This is needed to handle the flex group *@
                            <div class="collapse">
                                <input type="hidden" asp-for="MessageText" class="summernote-content" />
                            </div>

                            <div class="summernote form-control"></div>
                        </div>
                        <partial name="_InputQuestion" model="@textExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="MessageText" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.LaterMessages.Any())
                {
                    <h2 class="mt-3">Later Messages</h2>

                    @foreach (var message in Model.LaterMessages)
                    {
                        <partial name="_PreviousMessageDetails" model="@message" />
                    }
                }

                @if (Model.PreviousMessages.Any())
                {
                    <h2 class="mt-3">Previous Messages</h2>

                    @foreach (var message in Model.PreviousMessages)
                    {
                        <partial name="_PreviousMessageDetails" model="@message" />
                    }
                }

            </div>
        </div>

        <partial name="Modal/_OptionalModalContentFooter" />
    </div>

</div>
