@model HealthChecksVm

<h1>Health Checks</h1>

<form asp-area="" asp-controller="Healthchecks" asp-action="Index" method="post">
    
    <div class="collapse">
        <input type="hidden" asp-for="Server" />
        <input type="hidden" asp-for="SafeUserID" />
        <input type="hidden" asp-for="SafePassword" />
        <input type="hidden" asp-for="SafeKeyEnd" />
        <input type="hidden" asp-for="DefaultConnection" />
        <input type="hidden" asp-for="SafeConnectionString" />
        <input type="hidden" asp-for="QueryResult" />
    </div>
    
    <div class="row @CenterFlexNoWrapContainer">
        <div class="mb-5">

            <div class="mb-3">
                <label asp-for="Server" class="control-label"></label>
                <label class="control-label fw-normal">@Model.Server</label>
            </div>

            <div class="mb-3">
                <label asp-for="SafeUserID" class="control-label"></label>
                <label class="control-label fw-normal">@Model.SafeUserID</label>
            </div>

            <div class="mb-3">
                <label asp-for="SafePassword" class="control-label"></label>
                <label class="control-label fw-normal">@Model.SafePassword</label>
            </div>

            <div class="mb-3">
                <label asp-for="SafeKeyEnd" class="control-label"></label>
                <label class="control-label fw-normal">@Model.SafeKeyEnd</label>
            </div>

            <div class="mb-3">
                <label asp-for="DefaultConnection" class="control-label"></label>
                <label class="control-label fw-normal">@Model.DefaultConnection</label>
            </div>

            <div class="mb-3">
                <label asp-for="SafeConnectionString" class="control-label"></label>
                <label class="control-label fw-normal">@Model.SafeConnectionString</label>
            </div>

            <div class="mb-3">
                <label asp-for="QueryResult" class="control-label"></label>
                <label class="control-label fw-normal">@Model.QueryResult</label>
            </div>

            @if (Model.PostResult.IsNotEmpty())
            {
                <div class="mb-3">
                    <label asp-for="PostResult" class="control-label"></label>
                    <label class="control-label fw-normal">@Model.PostResult</label>
                </div>
            }

            <br/>
            <div class="col-md-12">
                <partial name="_SubmitButton" />
            </div>
        </div>

    </div>
</form>