@model ManageSuggestionVm
@{
    List<string> guidance = [Model.Existing ? "" : "Suggest a present that you'd like to receive from your Secret Santa."];

    if (Model.YearGroupUserLinks.Count > 0)
    {
        guidance.Add("You can assign your suggestion to one or more groups. Make sure it is realistic for the spending limit of each group.");
    }
    else if (Model.YearGroupUserLinks.Count == 1)
    {
        guidance.Add($"Make sure your suggestion is realistic for the spending limit of the '{Model.YearGroupUserLinks[0].GiftingGroupName}' group.");
    }

    string suggestionExplanation = "Add a short description of your suggestion";
    string notesExplanation = "Add any other relevant information, including any links, items to avoid, size details etc.";
    string priorityExplanation = $"A sort order between 1 and {PriorityLimit}; items with priority 1 appear first";
}

<partial name="_FormHiddenInputs" />

<div class="row d-flex align-items-center justify-content-center text-center">

    <div class="collapse">
        <input type="hidden" asp-for="SuggestionKey" />
        <input type="hidden" asp-for="IsModal" />
    </div>

    <div class="mb-5">
        <h2>@Model.SubTitle</h2>

        <div class="mt-2 mb-4 align-items-center justify-content-center align-content-center">
            @foreach (string line in guidance)
            {
                <p>
                    @line
                </p>
            }
        </div>

        @if (!Model.IsModal)
        {
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        }

        <div class="d-flex flex-wrap text-center justify-content-center align-content-center">
            <div class="@Model.GroupWidth">
                <div class="mb-3">
                    <label asp-for="SuggestionText" class="control-label required"></label>
                    <div class="input-group input-info">
                        <input asp-for="SuggestionText" class="form-control" aria-required="true" />
                        <partial name="_InputQuestion" model="@suggestionExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="SuggestionText" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="OtherNotes" class="control-label"></label>
                    <div class="input-group input-info">
                        <textarea asp-for="OtherNotes" class="form-control" aria-required="false" rows="5"></textarea>
                        <partial name="_InputQuestion" model="@notesExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="OtherNotes" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Priority" class="control-label required"></label>
                    <div class="input-group input-info">
                        <input asp-for="PrioritySetter" type="number" min="1" max="@PriorityLimit" class="form-control" aria-required="false" />
                        <partial name="_InputQuestion" model="@priorityExplanation" />
                    </div>
                    <div>
                        <span asp-validation-for="PrioritySetter" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.YearGroupUserLinks.Count > 0)
                {
                    <div class="mb-3">
                        <label asp-for="YearGroupUserLinks" class="control-label required"></label>
                        
                        <div class="d-flex" style="flex-wrap: wrap !important">
                            @for (int i = 0; i < Model.YearGroupUserLinks.Count; i++)
                            {
                                var link = @Model.YearGroupUserLinks[i];
                                string labelClass = link.Included ? "" : "text-grey";

                                <div class="collapse">
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].GiftingGroupKey" />
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].CalendarYear" />
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].SuggestionLinkKey" />
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].YearGroupUserKey" />
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].GiftingGroupName" />
                                    <input type="hidden" asp-for="YearGroupUserLinks[i].Included" />
                                </div>

                                <span class="nowrap">
                                    <span class="@labelClass">@link.GiftingGroupName</span>
                                    <text>&nbsp;</text>
                                    <input type="checkbox" class="apply-group-checkbox" asp-for="YearGroupUserLinks[i].ApplyToGroup"
                                        data-included="@link.Included" data-group="@link.GiftingGroupName" />

                                    @if (i < Model.YearGroupUserLinks.Count - 1)
                                    {
                                        <text>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                        </text>
                                    }
                                </span>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>

        @if (!Model.IsModal)
        {
            <br />
            <div class="col-md-12">
                <partial name="_SubmitButton" />
            </div>
        }
    </div>

</div>