@using static Global.Validation.Identity;

@model ForgotPasswordVm
@{
    ViewData["Title"] = "Forgot Password";
    string emailOrUserNameExplanation = "If you have provided an E-mail Address you can enter it here, or enter your Username";
    string question1GroupClass = string.IsNullOrWhiteSpace(Model.SecurityHint1) ? "" : "input-group input-info";
    string question2GroupClass = string.IsNullOrWhiteSpace(Model.SecurityHint2) ? "" : "input-group input-info";
}

<div class="text-center">    

    <h1>Forgot your password?</h1>

    <section>
        <form asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" method="post">

            <div class="row text-center">
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-5">

                    @if (Model.ShowBasicDetails)
                    {
                        <h2>Please provide your details</h2>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <br />
                        <p>
                            Enter your account details below to find your account.
                        </p>
                        <br />

                        <div class="form-group-sm mb-3">
                            <label asp-for="EmailOrUserName" class="control-label required"></label>
                            <div class="input-group input-info">
                                <input asp-for="EmailOrUserName" class="form-control" autocomplete="email" aria-required="false" placeholder="name@example.com" />
                                <partial name="_InputInfo" model="@emailOrUserNameExplanation" />
                            </div>
                        </div>

                        <div class="form-group-sm mb-3">
                            <label asp-for="Forename" class="control-label required"></label>
                            <input asp-for="Forename" maxlength="250" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Enter your first name here" />
                        </div>
                    }
                    else                    
                    {
                        <div class="hidden">
                            <input asp-for="EmailOrUserName" type="hidden" />
                            <input asp-for="Forename" type="hidden" />
                            <input asp-for="SecurityQuestion1" type="hidden" />
                            <input asp-for="SecurityQuestion2" type="hidden" />
                            <input asp-for="SecurityHint1" type="hidden" />
                            <input asp-for="SecurityHint2" type="hidden" />
                        </div>
                        
                        if (Model.ShowSecurityQuestions)
                        {
                            <div class="hidden">
                                <input asp-for="ShowSecurityQuestions" type="hidden" />
                            </div>                        
                            
                            <h2>Answer your security questions</h2>
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        
                            <p>
                                Now please answer the questions below to confirm your identity.
                            </p>
                        
                            <div class="form-group-sm mb-3">                            
                                <label asp-for="SecurityAnswer1" class="control-label required">@Model.SecurityQuestion1</label>
                                <div class="@question1GroupClass">
                                    <input type="password" asp-for="SecurityAnswer1" class="form-control" aria-required="true" placeholder="Enter the answer"
                                       autocomplete="off" />
                                    <partial name="_InputInfo" model="@Model.SecurityHint1" />
                                </div>
                            </div>
                            <br />

                            <div class="form-group-sm mb-3">
                                <label asp-for="SecurityAnswer2" class="control-label required">@Model.SecurityQuestion2</label>
                                <div class="@question2GroupClass">
                                    <input type="password" asp-for="SecurityAnswer2" class="form-control" aria-required="true" placeholder="Enter the answer"
                                           autocomplete="off" />
                                    <partial name="_InputInfo" model="@Model.SecurityHint2" />
                                </div>
                            </div>
                        }
                        else if (Model.ResetPassword)
                        {
                            <div class="hidden">
                                <input asp-for="ShowSecurityQuestions" type="hidden" />
                                <input asp-for="SecurityAnswer1" type="hidden" />
                                <input asp-for="SecurityAnswer2" type="hidden" />
                                <input asp-for="ResetPassword" type="hidden" />
                            </div>

                            <h2>Reset your password</h2>
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <p>
                                Finally, please enter and confirm your new password.
                            </p>
                        
                            <div class="form-group-sm mb-3">
                                <label asp-for="Password" class="control-label required">Password</label>
                                <div class="input-group input-info">
                                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Create a new password" />
                                    <partial name="_InputInfo" model="@Passwords.Description" />
                                </div>
                                <div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group-sm mb-3">
                                <label asp-for="ConfirmPassword" class="control-label required">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter your new password" />
                                <div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    }

                    <br />
                    <partial name="_SubmitButton" />
                </div>
            </div>
        </form>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
