@model LoginVm

@{
    ViewData["Title"] = "Log in";
    string emailOrUserNameExplanation = "If you have provided an E-mail Address you can enter it here, or enter your Username";
    string rememberMeExplanation = "If ticked, you will stay logged in even if you close the browser (and in different browsers) until your login expires.";
}

<div class="text-center">
    <h1>Welcome back to Secret Santa!</h1>
    <section>
        <form id="account" method="post">
            <div class="row text-center">
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-5">
                    <h2>Please log in</h2>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="EmailOrUserName" class="control-label required"></label>
                        <div class="input-group input-info">
                            <input asp-for="EmailOrUserName" class="form-control" autocomplete="email" aria-required="false" placeholder="name@example.com" />
                            <partial name="_InputInfo" model="@emailOrUserNameExplanation" />
                        </div>
                    </div>
                    <div class="form-group-sm mb-3">
                        <label asp-for="Password" class="control-label required">Password</label>
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    </div>
                    <div class="checkbox pt-3 mb-3">
                        <label asp-for="RememberMe" class="control-label text-center">
                            <input class="form-check-input" asp-for="RememberMe" />
                            &nbsp;
                            @Html.DisplayNameFor(m => m.RememberMe)
                            &nbsp;
                            <div class="d-inline" data-toggle="tooltip" data-html="true" data-bs-container="label" title="@rememberMeExplanation">
                                <i class="fa fa-info-circle fa-border"></i>
                            </div>
                        </label>
                    </div>
                    <br />
                    <partial name="_SubmitButton" />
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>

            </div>
            <div class="row text-center">
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 d-flex flex-wrap justify-content-between">
                    <div>
                        <a asp-area="Account" asp-controller="Manage" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account?</a>
                    </div>
                    <div>
                        <a asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Forgot your password?</a>
                    </div>

                    @* <div>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </div> *@
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            </div>
        </form>
    </section>

    @* <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to log in.</h3>
    <hr />
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    </section>
    </div> *@

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}