@model LoginVm

@{
    ViewData["Title"] = "Log in";
    string rememberMeExplanation = "If ticked, you will stay logged in even if you close the browser (and in different browsers) until your login expires.";
}

<h1>Welcome back to Secret Santa!</h1>
<section>
    <form id="account" method="post">
        <partial name="_FormHiddenInputs" />
        
        <div class="row @CenterFlexNoWrapContainer">

            <div class="mb-5">
                <h2>Please log in</h2>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                @if (!Model.LockedOut)
                {
                    if (Model.TimedOut)
                    {
                        <p>Your connection has timed out. Please log in again, and you will be redirected to the requested page.</p>
                        <br/>
                    }

                    <div class="@CenterFlexWrapContainer">
                        <div class="@StandardGroupWidth">

                            <div class="mb-3">
                                <label asp-for="EmailOrUserName" class="control-label required"></label>
                                <div class="input-group input-info">
                                    <input asp-for="EmailOrUserName" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                                    <partial name="_InputQuestion" model="@StandardPhrases.EmailOrUserNameExplanation" />
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label asp-for="Password" class="control-label required">Password</label>
                                <div class="input-group input-info">
                                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter your password" />
                                    <div class="input-group-text"><i class="fa fa-eye collapse"></i></div>
                                </div>
                            </div>
                    
                            <div class="checkbox pt-3 mb-3">
                                <label asp-for="RememberMe" class="control-label @CenterFlexNoWrapContainer">
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                    &nbsp;
                                    <input class="form-check-input" asp-for="RememberMe" />

                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;

                                    <partial name="_InlineQuestion" model="@rememberMeExplanation" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-12">
                        <partial name="_SubmitButton" />
                    </div>
                }
            </div>
        </div>

        <div class="row @CenterFlexNoWrapContainer">

            <div class="@StandardGroupWidth @EvenSpacingFlexGroup">
                <div>
                    <a asp-area="Account" asp-controller="Manage" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" data-toggle="tooltip" title="Register">Don't have an account?</a>
                </div>
                <div>
                    <a asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" data-toggle="tooltip" title="Reset Your Password">Forgot your password?</a>
                </div>

                @* <div>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div> *@
            </div>

        </div>
    </form>
</section>